<div class="container" style="height: 425px;">
    <div class="card-group" style="height: auto;">
        <div class="card">
            <div class="card-body" style="height: auto;">
                <div class="row padMar">
                    <div class="col padMar">
                        <form class="input-group" action="/search" method="get">
                            <div class="input-group-prepend"></div><input class="form-control autocomplete" autocomplete="off" type="text" placeholder="Search Torrents!" name="search" id="searchbox">
                            <div class="input-group-append"><input class="btn btn-dark" type="submit" value="Search"></div>
                        </form>
                    </div>
                </div>
                <p class="text-center" style="padding-top: 66px;">kstorrentse is a tribute to the torrentz.eu.</p>
            </div>
        </div>
    </div>
</div> 