@{
    ViewData["Title"] = "About";
}
    <div class="container">
        <div class="text-dark bg-light" style="padding-top: 0px;height: auto;">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-1">Facts</a></li>
                <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2">Privacy</a></li>
                <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-3">Takedown</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" role="tabpanel" id="tab-1">
                    <ol>
                        <li>qTorrent is an&nbsp;<a href="http://en.wikipedia.org/wiki/Search_aggregator">aggregator</a>&nbsp;and a&nbsp;<a href="http://en.wikipedia.org/wiki/Multisearch">Multisearch</a>. This means we just search other search engines.<br></li>
                        <li>qTorrent is a very powerful internet location search tool.<br></li>
                        <li>qTorrent is not a torrent cache, torrent tracker nor a torrent directory.<br></li>
                        <li>qTorrent does not host or "make available" any files or torrents in any way, shape or form.<br></li>
                        <li>qTorrent links to other independent search engines that might host torrent files. We have absolutely no control over those domains.<br></li>
                        <li>Indexing process is completely automated. We don't check it. Whatever the robots find, are sucked in. The good, the bad and the ugly.<br></li>
                        <li>qTorrent files are simply metadata and cannot be copyrighted.<br></li>
                        <li>We don't host torrents, we don't even save torrents. We just extract the filename and the size from the sources.<br></li>
                        <li>qTorrent is similar to&nbsp;<a href="http://www.google.com/">Google</a>.<br></li>
                        <li>Visitor stats are curated using&nbsp;<a href="https://ipinfo.io/">ipinfo.io</a><br></li>
                    </ol>
                </div>
                <div class="tab-pane" role="tabpanel" id="tab-2">
                    <ol>
                        <li>We do not log.<br></li>
                        <li>We do not mingle with your internet privacy.<br></li>
                        <li>We are not interested in what you do online.<br></li>
                    </ol>
                </div>
                <div class="tab-pane active" role="tabpanel" id="tab-3">
                    <ol>
                        <li>Remember that this is just a search/indexing tool, your content is not hosted here. Please be polite. There is no point in threats.<br></li>
                        <li>We cannot take down your content because we do not host it. You can rather redirect yourself to the actual source and request a take down of your content.<br></li>
                        <li>We absolutely have no strings attached to piracy.<br></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>